<nav class="navbar">
    <a class="navbar-brand" href="/">reddit r/WorldNews Scraper</a>
    <button class="btn btn-danger" id="scrape-btn" type="button">Scrape New Headlines</button>

</nav>

<div class="container-fluid">
    <div class="row">
        <div class="card col-xs-12 article-panel">
            <div class="card-header">
                <h1>r/WorldNews Top Headlines</h1>
            </div>
            <div class="card-body">
                {{#if article}}
                <ul class="list-group list-group-flush">
                    {{#each article}}
                    <li class="list-group-item">
                        <h4>{{this.title}}</h4>
                        <p><b>Source:</b> {{this.source}}</p>
                        <a href="/articles/{{this._id}}" id={{this._id}} class="btn btn-primary full_article">View Full Article</a>
                    </li>
                    {{/each}}
               
                </ul>
                 {{/if}}

            </div>

        </div>
    </div>
</div>