<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/articles">Reddit r/WorldNews Scraper</a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

</nav>

<div class="container">
    <div class="row">
        <div class="card col-xs-8 article-panel">
            <div class="card-header">
                <h1>r/WorldNews Tops Headlines</h1>
            </div>
            <div class="card-body">
               <iframe class="display_article" src={{link}}></iframe>
            </div>

        </div>

        <div class="col-xs-4">
            Notes will go here
        </div>

    </div>
</div>