
/* Navbar */
.navbar{
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:lightgray;
    padding-left:5%;

}

.navbar-brand{
    font-size:24px;
}
.card-header{
    text-align:center;
}


.article-panel{
    border: solid 3px black;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:15px;
    

}
.notes-column{
    border: solid 1px green;
    

}

.iframe-parent{
    height: 100%;
}
.display_article{
    width: 100%;
    height:100%;
}

.full_article_row{
    height: 90vh;
}